.one {
  margin-right: 15px;
  font-family: arial;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding-bottom: 10px;
}
img {
  width: 200px;
}
.title-1 {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 20px;
}
.mutual-1 {
  color: gray;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 10px;
}
.add-friend {
  border-radius: 4px;
  border: none;
  color: white;
  background-color: rgb(23, 127, 231);
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}