.profile {
  font-family: arial;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

img {
  width: 80px;
  border-radius: 40px;
  margin-right: 20px
}
.details {
  width: 150px;
}
.first-line {
  font-size: 25px;
  font-weight: bold;
}
.second-line {
  font-size: 18px;
  color: gray;
}
.third-line {
  font-size: 18px;
  color: gray;
}
button {
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(0, 136, 255);
  color: white;
}