.black {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: black;
}
img {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 200px;
  border-radius: 100px;
  margin-left: 100px;
}
.gray {
  display: flex;
  font-family: arial;
  color: white;
  background-color: gray;
  width: 400px;
  position: fixed;
  left: 400px;
  top: 0;
  bottom: 0;
  line-height: 100px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 50px;
}
.line-one {
  display: flex;
  justify-content: space-between;
}
.plus {
  padding-right: 30px;
}