.title {
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
}
.box {
  width: 350px;
  background-color: rgb(39, 39, 39);
  color: white;
  font-size: 15px;  
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}